/.idea/.name
/References/all_midi_notes.mid
/References/all_midi_notes.xml
/References/Dazer.mid
/Dazer-guitar_pro_8_drumkit.mid
/References/Drummica_GM.txt
/References/Guitar Pro 8 Drum Kit.txt
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pythonProject.iml
/References/Studio Drummer Session Kit Full.txt
/References/Studio Drummer Session Kit Full GM.txt
/.idea/vcs.xml
/.idea/workspace.xml
